.section.first {
  background-color: #322d41;
  color: #d3c2e1;
}

.section.first strong {
  color: #d3c2e1;
}

.section.first_pdv {
  color: #d3c2e1;
  position: relative;
  height: 660px;
}

.section.first_pdv > .bg {
  background-color: #322d41;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-2.5deg);
  transform-origin: top left;
}

.section.testimonials {
  position: relative;
}

.section.testimonials > .bg {
  background-color: #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-2.5deg);
  transform-origin: top left;
}

.section.guarantee {
  background-color: #322d41;
  color: #d3c2e1;
}

.section.first_pdv strong {
  color: #d3c2e1;
}

.countdown_bg {
  background-color: rgba(0,0,0,0.25);
}

.btn_div {
  margin-top: -4rem;
}

.hcolor {
  color: #56b6f5;
}

.dcolor {
  color: #603078;
}

span.bg {
  background-color: #56b6f5;
}

hr.s-space {
  background-color: unset;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

hr.l-space {
  background-color: unset;
  border: none;
  display: block;
  height: 1px;
  margin: 5rem 0;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #322d41;
  text-transform: uppercase;
}

.caption {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  color: grey;
  margin-bottom: 1rem;
}

.button {
  background-image: linear-gradient(to right, #603078 , #56b6f5);
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

.button:hover {
  background-image: linear-gradient(to right, #56b6f5 , #56b6f5);
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 0px 16px 10px rgba(0,0,0,0.25);
}

.cards {
  width: 325px;
  margin-top: 0.5rem;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.main-video {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
}

span.tag {
  margin-bottom: 0.25rem;
}

.video {
  border-radius: 25px;
}

.video:hover {
    -webkit-filter: brightness(150%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    box-shadow: 0px 16px 10px rgba(0,0,0,0.25);
}

@media (max-width: 800px) {
  hr.s-space.tablet {
    margin: 8rem 0;
  }
}

@media (max-width: 600px) {
  hr.s-space.tablet {
    margin: 1.5rem 0;
  }
  .section.first_pdv {
    padding-top: 1rem;
  }
  h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .button {
    font-size: 0.9rem !important;
    max-width: 312px;
    height: 3rem;
  }
}