.section.first {
  background-color: #322d41;
  color: #d3c2e1;
}

.section.first strong {
  color: #d3c2e1;
}

hr.s-space {
  background-color: unset;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #322d41;
  text-transform: uppercase;
}

.caption {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  color: grey;
  margin-bottom: 1rem;
}

.button {
  background-image: linear-gradient(to right, #603078 , #56b6f5);
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

.button:hover {
  background-image: linear-gradient(to right, #56b6f5 , #603078);
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 0px 16px 10px rgba(0,0,0,0.25);
}

@media (max-width: 600px) {
  .button {
    font-size: 0.9rem !important;
    max-width: 312px;
    height: 3rem;
  }
}